<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/detailEditing.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <title>Details & Editing</title>
</head>
<body>
<section class="left_menu">
    <div class="left_menu_items">
        <h1>Happy Clients</h1>
        <ul class="list">
            <li class="dash">
                <a th:href="@{'/admin/main/'}">Dashboard</a>
            </li>
            <li class="custom">
                <a>Customers</a>
            </li>
            <li class="bilbo">
                <a th:href="@{'/admin/allBillboards/'}">All Billboards</a>
            </li>
            <li class="new_bilbo">
                <a th:href="@{'/admin/addNewBillboard/'}">Post New Billboard</a>
            </li>
        </ul>
    </div>
</section>
<header class="sidebar">
    <div class="container">
        <div class="sidebar_items">
            <div class="enter">
                <img src="/img/user.png" class="user-pic" onclick="toggleMenu()">
                <div class="name">
                    <p th:text="${#authentication.getPrincipal().name} + ' ' + ${#authentication.getPrincipal().surname}"></p>
                    <p>Super Admin</p>
                </div>
            </div>
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="uer-info">
                        <img src="/img/user.png" class="img2">
                        <h3 th:text="${#authentication.getPrincipal().name} + ' ' + ${#authentication.getPrincipal().surname}"></h3>
                    </div>
                    <hr>
                    <a th:href="@{'/mainPage/'}" class="sub-menu-link" sec:authorize="hasAuthority('MANAGER')">
                        <i class="fa-solid fa-user"></i>
                        <p>Home Page</p>
                        <span>></span>
                    </a>
                    <a class="sub-menu-link" href="JavaScript:void(0)"
                       onclick="singOutForm.submit()">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p>Log out</p>
                        <form th:action="@{'/signOut'}" method="post" id="singOutForm"></form>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="change">
    <div class="container">
        <form th:action="@{'/admin/editBillboard'}" method="post" enctype="multipart/form-data">
            <div class="all_edit">
                <div class="nav">
                    <a th:href="@{'/admin/allBillboards/'}">All billboards></a>
                    <a href="">Details & Editing</a>
                </div>
                <div class="edit_item">
                    <div class="edit_img">
                        <div class="first">
                            <div class="image">
                                <img th:src="@{'/admin/getAva/' + ${billboard.billboard_url}}" id="addImg" alt="">
                            </div>
                            <div class="content">
                                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                                <div class="text">No file chosen, yet!</i></div>
                            </div>
                            <div id="cancel_btn"><i class="fas fa-times"></i></div>
                            <div id="file_name"><i>File name here</i></div>
                        </div>
                        <input id="default-btn" type="file" name="billboard_url" hidden>
                        <!-- <input id="upload_btn" type="sybmit" hidden> -->
                        <button type="button" onclick="defaultBtnActive()" id="custom-btn" class="custom-btn">Choose a
                            photo
                        </button>
                        <!-- <div class="few_img">
                            <div class="few_items">
                                <img src="img/detailImg2.png" alt="">
                                <img src="img/detailImg3.png" alt="">
                            </div>
                            <img src="img/detailMap.png" alt="" class="map">
                        </div> -->
                    </div>
                    <div class="form_edit">
                        <div class="form_each_line">
                            <label>Location</label>
                            <input type="text" name="id" th:value="${billboard.id}" hidden>
                            <input type="text" name="location" th:value="${billboard.location}">
                        </div>
                        <div class="form_each_line">
                            <label>City</label>
                            <input type="text" name="city" th:value="${billboard.city}" disabled>
                        </div>
                        <div class="form_each_line">
                            <label>Type</label>
                            <input type="text" name="type" th:value="${billboard.type}" disabled>
                        </div>
                        <div class="form_each_line">
                            <label for="Size">Size</label>
                            <select id="size" name="size">
                                <option th:selected="${billboard.size eq '3x6m'}" value="3x6m">3x6m</option>
                                <option th:selected="${billboard.size eq '3x5m'}" value="3x5m">3x5m</option>
                                <option th:selected="${billboard.size eq '3x7m'}" value="3x7m">3x7m</option>
                            </select>
                        </div>
                        <div class="form_each_line">
                            <label for="light">Lightning</label>
                            <select id="light" name="isHasLightning">
                                <option th:selected="${billboard.isHasLightning == true}" value="true">Available
                                </option>
                                <option th:selected="${billboard.isHasLightning == false}" value="false">Not available
                                </option>
                            </select>
                        </div>
                        <div class="form_each_line">
                            <label>Price($)</label>
                            <input type="text" name="price" th:value="${billboard.price}">
                        </div>
                        <div class="detail_btn">
                            <button type="submit">Save</button>
<!--                            <div class="delete_btn">-->
                                <button class="delete_btn">Delete</button>
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<div id="myModal">
    <h3>Are you sure delete?</h3>
    <div class="modal_btn" id="outputDiv">
        <form th:action="@{'/admin/deleteBillboard'}" method="post">
            <input type="hidden" id="inputField2" name="deleteBillboardId" th:value="${billboard.id}">
            <button type="submit" style="background-color: #7B2E1C">Yes</button>
        </form>
        <button type="submit" id="close">No</button>
    </div>
</div>
<div id="myOverlay"></div>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script>
    let subMenu = document.getElementById("subMenu");

    function toggleMenu() {
        subMenu.classList.toggle("open-menu");

    }
</script>
<script>
    const first = document.querySelector(".first");
    const fileName = document.querySelector("#file_name");
    const cancelBtn = document.querySelector("#cancel_btn");
    const defaultBtn = document.querySelector("#default-btn");
    const customBtn = document.querySelector("#custom-btn");
    const uploadBtn = document.querySelector("#upload_btn");
    const img = document.querySelector("#addImg");
    let regExp = /[0-9a-zA-Z\\&\"\@\{\}\[\]\, \$\=\/\-\#\(\)\. \%\+\~\_ ]+$/;

    function defaultBtnActive() {
        defaultBtn.click();
        img.style.zIndex = '1';
        cancelBtn.style.zIndex = '1';
        fileName.style.zIndex = '1';
    }

    function cancelBtnActive() {
        img.style.zIndex = '-1';
    }


    function uploadFile() {
        console.log("Файл отправлен!");
    }

    defaultBtn.addEventListener("change", function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function () {
                const result = reader.result;
                img.src = result;
                first.classList.add("active");
            }
            cancelBtn.addEventListener("click", function () {
                img.src = "";
                first.classList.remove("active");
            });

            reader.readAsDataURL(file);
            if (this.value) {
                let valueStore = this.value.replace(/^.*[\\\/]/, '');
                ;
                fileName.textContent = valueStore;
            }
        }
    });

    uploadBtn.addEventListener("click", function () {
        const file = defaultBtn.files[0];
        if (file) {
            uploadFile();
        } else {
            console.log("Файл не выбран!");
        }
    });
</script>
<script>
    $('.delete_btn').click( function(event){
        event.preventDefault();
        $('#myOverlay').fadeIn(297,  function(){
            $('#myModal')
                .css('display', 'block')
                .animate({opacity: 1}, 198);
        });
    });

    $('#myModal__close, #myOverlay').click( function(){
        $('#myModal').animate({opacity: 0}, 198, function(){
            $(this).css('display', 'none');
            $('#myOverlay').fadeOut(297);
        });
    });
    $('#close, #myOverlay').click( function(){
        $('#myModal').animate({opacity: 0}, 198, function(){
            $(this).css('display', 'none');
            $('#myOverlay').fadeOut(297);
        });
    });
</script>
</body>
</html>