<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <title>Happy Clients</title>
</head>
<body>
    <header class="sidebar">
        <div class="container">
            <div class="sidebar_items">
                <h2><span>Happy</span> Clients</h2>
                <div class="sidebar_nav">
                    <ul class="nav">
                        <li class="homepage">
                            <a href="mainPage.html" class="homepage_a">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#cards">
                                All Bilboards
                            </a>
                        </li>
                        <li>
                            <a href="#about_com">
                                About us
                            </a>
                        </li>
                        <li>
                            <a href="#contact_us">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <div class="shops">
                        <div class="enter">
                            <img src="/img/user.png" class="user-pic" onclick="toggleMenu()">
                        </div>
                        <div class="sub-menu-wrap" id="subMenu">
                            <div class="sub-menu">
                                <div class="uer-info">
                                    <img src="/img/user.png" class="img2">
                                    <h3 th:text="${#authentication.getPrincipal().name} + ' ' + ${#authentication.getPrincipal().surname}"></h3>
                                </div>
                                <hr>
                                <a href="#" class="sub-menu-link">
                                    <i class="fa-solid fa-user"></i>
                                    <p>My profile</p>
                                    <span>></span>
                                </a>
                                <a href="#" class="sub-menu-link">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <p>Edit profile</p>
                                    <span>></span>
                                </a>
                                <a class="sub-menu-link" href="JavaScript:void(0)"
                                   onclick="singOutForm.submit()">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    <p>Log out</p>
                                    <form th:action="@{'/signOut'}" method="post" id="singOutForm"></form>
                                    <span>></span>
                                </a>
                            </div>
                        </div>
                        <div class="cart">
                            <a href="#">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span>Cart</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="header">
        <div class="container">
            <!-- <div class="log">
                <div class="welcome">
                    <h1>Welcome to Billboard Ads Marketplace</h1>
                </div>
            </div> -->
            <!-- <hr> -->
            <!-- <div class="banner">
                <div class="banner_info">
                    <div class="banner_text">
                        <h2>Outdoor advertising on billboards Almaty</h2>
                        <a href="">View the list</a>
                        <p>More flexibility, freedom and choice!</p>
                    </div>
                    <img src="img/banner.jpg" alt="#">
                </div>
            </div> -->
            <div class="text_banner">
                <h2>Outdoor advertising on billboards Almaty</h2>
                <button type="button">View the List</button>  
            </div>
        </div>
    </section>
    <section class="items" id="cards">
        <div class="container">
            <h1>Top Bilboards</h1>
            <div class="cards">
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner1.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Abay-Sain streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 5000x2900 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner2.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Zhandosov-Alfarabi streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 6200x3100 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner3.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Zhandosov-Alfarabi streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 5000x2800 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner1.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Abay-Sain streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 5000x2900 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner2.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Zhandosov-Alfarabi streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 6200x3100 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner3.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Zhandosov-Alfarabi streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 5000x2800 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner1.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Abay-Sain streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 5000x2900 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner1.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Abay-Sain streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 5000x2900 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
                <div class="cards_item">
                    <div class="img_banner">
                        <img src="/img/banner1.png" alt="#">
                        <a href="#">Featured</a>
                        <p>Per month 400$</p>
                    </div>
                    <div class="banner_detail">
                        <div class="banner_textD">
                            <h3>Intersection of Abay-Sain streets</h3>
                            <p>City: Almaty</p>
                            <p>Type: one - sided</p>
                            <p>Size: 5000x2900 mm</p>
                        </div>
                        <div class="banner_btn">
                            <a href="#">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        
    </section>
    <section class="about_com" id="about_com">
        <div class="container">
            <div class="about_items">
                <div class="text_about">
                    <h1>About us</h1>
                    <p> <span>We</span> have been helping businesses across the country get their message out to the world. With a focus on quality, affordability, and exceptional customer service, we've built a reputation as a leader in the billboard industry.</p>
                    <p>We believe that outdoor advertising should be accessible to businesses of all sizes. That's why we offer flexible pricing and financing options, as well as a wide range of design services to help bring your vision to life.</P>
                </div>
                <div class="grid_img">
                    <img src="/img/banner_grid3.png" alt="#">
                    <div class="group1_grid">
                        <img src="/img/banner_grid1.jpg" alt="#">
                        <img src="/img/banner_grid2.jpg" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="phone_section" id="contact_us">
        <div class="container">
            <div class="phone_details">
                <div class="contact_us">
                    <h2>Contact Us</h2>
                    <hr>
                    <div class="info">
                        <input type="email" placeholder="Full Name" required= "required">
                        <input type="password" placeholder="E-mail" minlength="8" required= "required">
                    </div>
                    <div class="message">
                        <textarea  placeholder="Message..."></textarea>
                    </div>
                    <div class="btn">
                        <button type="button">Send</button>
                    </div>
                </div>
                <div class="map_address">
                    <div class="geo">
                        <h2><span>Happy</span> Clients</h2>
                        <div class="map_info">
                            <div class="map_items">
                                <p>Kazakhstan, Almaty 322a, Zharokov street</p>
                                <p>050000</p>
                                <div class="phone">
                                    <i class="fa-solid fa-phone"></i>
                                    <p>+7(777)7777777</p>
                                </div>
                                <div class="mail">
                                    <i class="fa-sharp fa-solid fa-envelope"></i>
                                    <p>happyclients@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <img src="/img/geo.svg" alt="">
                    </div>
                    <div class="map_photo">
                        <img src="/img/map.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer_words">
                <p>Arround the Web</p>
                <hr>
            </div>
            <div class="social">
                <a href="#">
                    <img src="/img/facebook.png" alt="#">
                </a>
                <a href="#">
                    <img src="/img/instagram.png" alt="#">
                </a>
                <a href="#">
                    <img src="/img/telegram.png" alt="#">
                </a>
                <a href="#">
                    <img src="/img/whatsapp.png" alt="#">
                </a>
            </div>
            <div class="copyright">
                <p>© 2023 Happy Clients </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    <script>
        let subMenu = document.getElementById("subMenu");

        function toggleMenu(){
            subMenu.classList.toggle("open-menu");

        }
    </script>
</body>